<!DOCTYPE html>
<html>
<head>
    <meta name="package-mapping"
          content="my:com.switchfully.vaadin.exercise_09_declarative_layouts.ui.components" />
</head>
<body>
    <v-vertical-layout>
        <v-horizontal-layout>
            <v-text-field _id="searchField"></v-text-field>
            <v-button _id="searchButton">Search</v-button>
        </v-horizontal-layout>
        <my-accomodation-result-list _id="resultList"></my-accomodation-result-list>
    </v-vertical-layout>
</body>
</html>


