<!DOCTYPE html>
<html>
<head>
    <meta name="package-mapping"
          content="my:com.switchfully.vaadin.exercise_09_declarative_layouts.ui.components" />
</head>
<body>
<v-vertical-layout>
    <v-horizontal-layout spacing>
        <v-label _id="name" style-name="h3"></v-label>
        <my-star-rating-component _id="rating" style-name="h3"></my-star-rating-component>
    </v-horizontal-layout>
    <v-label _id="city" style-name="bold"></v-label>
    <v-label _id="description" content-mode="HTML"></v-label>
</v-vertical-layout>
</body>
</html>


